PySide6==6.6.0 # 6.6.0 due to windows QMediaPlayer bug with newer versions
opencv-python-headless==4.11.0.86
requests
numpy==1.26.4
lief
psutil
py-cpuinfo
distro
pypresence
certifi
yt-dlp
validators
packaging
pyserial==3.5
pynput==1.7.7
patchelf